<h1>Listing id3_tags</h1>

<table>
  <thead>
  <table border="1">
    <tr>
      <th>Song title</th>
      <th>Artist</th>
      <th>Album title</th>
      <th>Track</th>
      <th>Genre</th>
      <th>Path</th>
      <th>Musicians</th>
      <th colspan="3",style="border:0;">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @id3_tags.each do |id3_tag| %>
      <tr>
        <td><%= id3_tag.song_title %></td>
        <td><%= id3_tag.artist %></td>
        <td><%= id3_tag.album_title %></td>
        <td><center> <%= id3_tag.track %></center></td>
        <td><center><% id3_tag.genres.map do |g| %>
          <%= g.genre %>
        <% end %> </center></td>
        <td><i>Path</i></td>
        <td><center><% id3_tag.musicians.map do |m| %>
          <%= m.name<<'-'<< m.instrument %><br>
        <% end %></center></td>
        <td style="border:0;"><%= link_to 'Show', id3_tag %></td>
        <td style="border:0;"><%= link_to 'Edit', edit_id3_tag_path(id3_tag) %></td>
        <td style="border:0;"><%= link_to 'Destroy', id3_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Id3 tag', new_id3_tag_path %>
<br><br>
<%= link_to 'Back to Home Page', root_path %>
