<p id="notice"><%= notice %></p>

<p>
  <strong>Song title:</strong>
  <%= @id3_tag.song_title %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @id3_tag.artist %>
</p>

<p>
  <strong>Album title:</strong>
  <%= @id3_tag.album_title %>
</p>

<p>
  <strong>Track:</strong>
  <%= @id3_tag.track %>
</p>

<p>
  <strong>Path:</strong>
  <%= @id3_tag.path %>
</p>

<%= link_to 'Edit', edit_id3_tag_path(@id3_tag) %> |
<%= link_to 'Back', id3_tags_path %>
